Repository regen-network/regen-ledger, pull requests merged in 2021-11, with the labels that each got.

#620 feat!: ecocredit buy order definitions
  proto/regen/ecocredit/v1alpha1/tx.proto
Labels: Scope: x/ecocredit, Type: Proto Breaking

#236 feat: data module alpha2: part 4
  go.mod
  go.sum
  proto/regen/data/v1alpha2/genesis.proto
  proto/regen/data/v1alpha2/query.proto
  proto/regen/data/v1alpha2/tx.proto
  proto/regen/data/v1alpha2/types.proto
  x/data/errors.go
  x/data/genesis.pb.go
  x/data/go.mod
  x/data/iri.go
  x/data/iri_test.go
  x/data/query.pb.go
  x/data/query.pb.gw.go
  x/data/requests.go
  x/data/requests_test.go
  x/data/server/keys.go
  x/data/server/lookup/doc.go
  x/data/server/lookup/table.go
  x/data/server/lookup/table_test.go
  x/data/server/msg_server.go
  x/data/server/query_server.go
  x/data/server/server.go
  x/data/server/testsuite/suite.go
  x/data/spec/protobuf.md
  x/data/tx.pb.go
  x/data/types.go
  x/data/types.pb.go
  x/data/types_test.go
Labels: Type: Proto Breaking, Scope: x/data

#610 feat(x/ecocredit): add basket API
  proto/regen/ecocredit/v1alpha1/tx.proto
  proto/regen/ecocredit/v1alpha1/types.proto
Labels: Scope: x/ecocredit

#608 feat(x/ecocredit)!: add projects to the credit data model
  proto/regen/ecocredit/v1alpha2/events.proto
  proto/regen/ecocredit/v1alpha2/genesis.proto
  proto/regen/ecocredit/v1alpha2/query.proto
  proto/regen/ecocredit/v1alpha2/tx.proto
  proto/regen/ecocredit/v1alpha2/types.proto
Labels: Scope: x/ecocredit, Type: Proto Breaking

#644 fix: update go module for regen-ledger to v2
  app/app.go
  app/regen/cmd/cmd_test.go
  app/regen/cmd/root.go
  app/regen/cmd/testnet.go
  app/regen/main.go
  app/testsuite/network_config.go
  app/testsuite/network_test.go
  go.mod
Labels: backport/v2.0.x

#652 chore(deps): update ibc-go to v2.0.0
  app/app.go
  app/sim_test.go
  go.mod
  go.sum
Labels: backport/v2.0.x

#654 fix: fix ibc error
  app/app.go
  app/patch.go
Labels: backport/v2.0.x
