Repository regen-network/regen-ledger, pull requests merged in 2022-02, with the labels that each got.

#673 docs(x/data): update specification
  docs/.vuepress/config.js
  x/data/spec/01_concepts.md
  x/data/spec/02_state.md
  x/data/spec/03_messages.md
  x/data/spec/04_events.md
  x/data/spec/05_client.md
  x/data/spec/06_tests.md
  x/data/spec/README.md
Labels: Scope: x/data

#737 feat(x/ecocredit): backport basket codegen
  go.mod
  go.sum
  proto/regen/ecocredit/basket/v1/tx.proto
  proto/regen/ecocredit/basket/v1/types.proto
  proto/regen/ecocredit/v1alpha1/types.proto
  x/basket/spec/protobuf.md
  x/ecocredit/basket/state.pb.go
  x/ecocredit/basket/tx.pb.go
  x/ecocredit/basket/types.pb.go
  x/ecocredit/go.mod
  x/ecocredit/go.sum
  x/ecocredit/spec/protobuf.md
  x/ecocredit/types.pb.go
Labels: Scope: x/ecocredit

#757 feat: basket window integration
  go.mod
  go.sum
  proto/regen/ecocredit/basket/v1/tx.proto
  proto/regen/ecocredit/basket/v1/types.proto
  x/basket/spec/protobuf.md
  x/ecocredit/basket/msg_create.go
  x/ecocredit/basket/msg_create_test.go
  x/ecocredit/basket/msg_put.go
  x/ecocredit/basket/msg_take.go
  x/ecocredit/basket/state.pb.go
  x/ecocredit/basket/tx.pb.go
  x/ecocredit/basket/types.pb.go
  x/ecocredit/go.mod
Labels: Scope: x/ecocredit

#791 feat(math): backport NewDecFinite and add matcher
  go.mod
  types/go.sum
  types/math/dec.go
  types/math/dec_test.go
  types/math/testing.go
Labels: Scope: Types
