Repository regen-network/regen-ledger, pull requests merged in 2022-01, with the labels that each got.

#674 feat(x/data): update data query commands
  x/data/client/query.go
  x/data/client/testsuite/query.go
  x/data/client/util.go
Labels: Scope: x/data

#662 feat(x/ecocredit): add marketplace cli
  x/ecocredit/client/query.go
  x/ecocredit/client/testsuite/grpc.go
  x/ecocredit/client/testsuite/query.go
  x/ecocredit/client/testsuite/tx.go
  x/ecocredit/client/tx.go
  x/ecocredit/errors.go
  x/ecocredit/server/query_server.go
  x/ecocredit/server/server.go
Labels: Scope: x/ecocredit

#676 fix(x/data): grpc gateway endpoints
  go.mod
  go.sum
  proto/regen/data/v1alpha2/query.proto
  scripts/protocgen.sh
  x/data/client/testsuite/grpc.go
  x/data/client/testsuite/query.go
  x/data/client/testsuite/tx.go
  x/data/query.pb.go
  x/data/query.pb.gw.go
  x/ecocredit/query.pb.gw.go
  x/group/query.pb.gw.go
Labels: Scope: x/data

#666 fix: update swagger-gen to include ibc-go swagger docs
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  scripts/protoc-swagger-gen.sh
Labels: backport/v2.0.x

#670 feat(x/ecocredit): auto-retire credits on purchase
  go.mod
  go.sum
  proto/regen/ecocredit/v1alpha2/events.proto
  proto/regen/ecocredit/v1alpha2/tx.proto
  x/ecocredit/events.pb.go
  x/ecocredit/msgs.go
  x/ecocredit/msgs_test.go
  x/ecocredit/server/msg_server.go
  x/ecocredit/server/testsuite/tx.go
  x/ecocredit/spec/protobuf.md
  x/ecocredit/tx.pb.go
Labels: Scope: x/ecocredit

#694 chore: reinstate ecocredit v1alpha1
  go.mod
  go.sum
  proto/regen/ecocredit/v1alpha1/events.proto
  proto/regen/ecocredit/v1alpha1/genesis.proto
  proto/regen/ecocredit/v1alpha1/query.proto
  proto/regen/ecocredit/v1alpha1/tx.proto
  proto/regen/ecocredit/v1alpha1/types.proto
Labels: Scope: x/ecocredit

#671 feat(x/ecocredit): add buy/sell expiration
  app/app.go
  proto/regen/ecocredit/v1alpha2/events.proto
  proto/regen/ecocredit/v1alpha2/tx.proto
  proto/regen/ecocredit/v1alpha2/types.proto
  x/ecocredit/abci.go
  x/ecocredit/client/testsuite/query.go
  x/ecocredit/client/testsuite/tx.go
  x/ecocredit/client/tx.go
  x/ecocredit/client/util.go
  x/ecocredit/client/util_test.go
  x/ecocredit/events.pb.go
  x/ecocredit/expected_keepers.go
  x/ecocredit/module/module.go
  x/ecocredit/msgs.go
  x/ecocredit/msgs_test.go
  x/ecocredit/server/expiration.go
  x/ecocredit/server/expiration_test.go
  x/ecocredit/server/msg_server.go
  x/ecocredit/server/server.go
  x/ecocredit/server/testsuite/suite.go
  x/ecocredit/server/testsuite/tx.go
  x/ecocredit/spec/protobuf.md
  x/ecocredit/tx.pb.go
  x/ecocredit/types.pb.go
Labels: Scope: x/ecocredit

#633 docs(x/ecocredit): update ecocredit spec
  x/ecocredit/spec/01_concepts.md
  x/ecocredit/spec/02_state.md
  x/ecocredit/spec/03_messages.md
  x/ecocredit/spec/05_client.md
  x/ecocredit/spec/06_tests.md
Labels: Scope: x/ecocredit
